* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  font-family: "Euclid Circular A", "Poppins";
  background: #45494e;
}

.dropdown {
  translate: 0 -20px;
  position: relative;
  cursor: pointer;
}

.dropdown > button {
  width: 170px;
  height: 60px;
  border: 0;
  border-radius: 6px;
  font-family: inherit;
  font-size: 17px;
  background: #3c3c3c;
}

.dropdown > .content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #f7f7f7;
}

.dropdown > .content::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 10%;
  width: 80%;
  height: 1px;
  transform: scaleX(0);
  background: rgb(255 255 255 / 30%);
  transition: 0.3s;
}

.dropdown:hover > .content::after {
  transform: scaleX(1);
}

.dropdown > .content > span:first-child {
  font-size: 20px;
}

.dropdown > .content > span:last-child {
  margin-left: auto;
}

.dropdown > .content > span:last-child {
  transition: 0.3s;
}

.dropdown:hover > .content > span:last-child {
  rotate: -180deg;
}

.dropdown > .menu {
  position: absolute;
  z-index: 1;
  top: -6px;
  left: 50%;
  display: grid;
  width: 110%;
  padding: 70px 0 6px;
  border-radius: 6px;
  translate: -50% 0;
  visibility: hidden;
  opacity: 0;
  scale: 0.85;
  background: linear-gradient(#ea8d8d, #a890fe);
  transition: 0.3s;
}

.dropdown:hover > .menu {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.dropdown > .menu > a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f7f7f7;
  font-size: 14px;
  padding: 0 24px;
}

.dropdown > .menu > a:hover {
  background: rgb(0 0 0 / 10%);
}

.dropdown > .menu > a > span {
  font-size: 20px;
}
